img{
    margin-left: 200px ;
    transform: scale(0.1);
    

}
.eee{
    width: 2;
    margin-left: 50%;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    margin: 30px 0 0  45%;
    border: 2px solid black;
    border-radius: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: blueviolet;
}
.div{
    text-align: center;
    margin-left: 90px;
}
h2{
    text-align: center;
    margin-left: 30px;
}
body{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.e2{
    text-align: center;
    margin-left: 90px;
    
}
.login{
    margin-left: 90px;

}
input{
    border: 2px solid black;
    border-radius: 30px;
}
a{
    text-align: center;
    display: block;
    padding-left: 7%;
}
.border{
    background-color: azure;
}